root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{rs,ns,toml,md,yir,txt,sh,ll,c,yml,yaml,swift,pest,m,bnf,json}]
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
